
	.btn {
		margin: 5px;
	}

	.zoom {
		transition: all 1s;
		transform: scale(1);
		position: relative;
		text-align: center;
		color: white !important;

	}

	.zoom:hover {
		transform: scale(1.2);
	}

	.home-margin{
		margin-bottom: 10px;
		padding: 40px;

	}

	.navbar-brand {
		display:inline-block !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.title-text {
		vertical-align: middle;
		text-align: center;
	}

	.centered {
	  position: absolute;
	  top: 70%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		color: white;
		font-family: 'Amatic SC', cursive;
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
		font-size: 1.5em;

	}

	.form-group {
		margin-top: 30px;
	}

	.form-control {
		font-size: 20px;
	}

	.jumbotron{
			background-image: url(/images/robot-banner7.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			padding: 0;
			/* background-color: black;
			background-blend-mode: screen; */
		}

		.display-4{
			padding: 20px;
			padding-right: 50px;
			margin: 0px 20px;
			text-align: left;
			font-weight: 300;
			color: white;
			text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
		}
