
	@font-face {
		font-family: 'alien-league';
		src: url('../fonts/alienleaguebold.ttf');
	}

	@font-face {
		font-family: 'earth-orbiter';
		src: url('../fonts/earthorbiter.ttf');
	}

	.btn {
		margin: 5px;
	}

	.zoom {
		transition: all 1s;
		transform: scale(1);
		position: relative;
		text-align: center;
		color: white !important;

	}

	.zoom:hover {
		transform: scale(1.2);
	}

	.home-margin{
		margin-bottom: 10px;
		padding: 40px;

	}

	.navbar-brand {
		display:inline-block !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.title-text {
		vertical-align: middle;
		text-align: center;
	}

	.centered {
	  position: absolute;
	  top: 70%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		color: white;
		font-family: 'earth-orbiter';
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
		font-size: 1.6em;

	}

	.form-group {
		margin-top: 30px;
	}

	.form-control {
		font-size: 20px;
	}

	.jumbotron{
			background-image: url(/images/robot-banner7.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			padding: 0;
			/* background-color: black;
			background-blend-mode: screen; */
		}

		.display-4{
			padding: 20px;
			padding-right: 50px;
			margin: 0px 20px;
			text-align: left;
			font-weight: 300;
			color: white;
			text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
		}

/* NAVIGATION BAR */

.topnav {
  position: relative;
  overflow: hidden;
	height: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: black;
  text-align: center;
	font-family: 'alien-league';
  padding: 14px;
  text-decoration: none;
  font-size: 22px;
}

/* LIST ITEMS */

.listitems a {
  float: center;
  color: black;
  text-align: center;
	font-family: 'alien-league';
  padding: 14px;
  text-decoration: none;
  font-size: 22px;
}

.listitems a:hover {
  color: grey;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: grey;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.navbar-toggle {
	float: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
